<!-- edit portfolio page -->
<body style="background: rgb(232, 242, 255)">
    
    <main class = "page projects-page">
        <section class="portfolio-block block" style="padding-top: 7%;">
        <p id="notice"><%= notice %></p>
            <%= render 'form', portfolio: @portfolio %>
        </section>
    </main> 

</body>
