<main class = "page projects-page">
        <section class="portfolio-block block" style="padding-top: 7%;">
			<h1 style="text-align: center;margin-top: 0%;margin-bottom: 3%;padding-top: 7%;">New Album</h1>
            <%= render 'form', album: @album %>
        </section>
    </main>


<%= link_to 'Back', user_album_path(@user) %>
