<div class="container d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="margin-top: 100px;">
    <section class="text-center bg-dark shadow d-flex d-xxl-flex flex-column justify-content-xxl-center align-items-xxl-center" style="height: 378px;width: 681px;border-radius: 34px;border-width: 1px;">
		<span class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="color: #ffffff;text-align: center;height: 23px;width: 66.641px;">OH NO! </span>
		<span style="color: #ffffff;">You need to log into a Gmail or TAMU email before entering this site.</span>
		<button class="btn btn-primary" type="button" style="padding: 10px 16px;margin: 15px;">
			<%= link_to "Login", admin_google_oauth2_omniauth_authorize_path, method: :post, style: 'text-decoration: none; color: #FFFFFF' %>
		</button>
	</section>
</div>