<!-- galleries front page -->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Home - 2VD</title>
        <link rel="stylesheet" href="app/assets/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo&display=swap">
        <link rel="stylesheet" href="app/assets/fonts/ionicons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        
    </head>

    <body style="background: rgb(232, 242, 255)">
        

      <main class="page projects-page" style="padding-top: 7%;">
        <section>
          <% if User.find_by(email: current_admin.email).isAdmin %> 
            <button class="btn btn-dark float-end" onclick="location.href='<%= new_gallery_path %>'" type="button" id="New Gallery" name="New Gallery">New Gallery</button>
          <% end %>
        </section>
        <section class="portfolio-block projects compact-grid" style="padding-top:4%">
            <div class="heading">
                <p id="notice"><%= notice %></p>
                <h1 style="font-weight:bold;">Galleries</h1>
                <h5 style="padding-bottom:2%;">Explore 2VD Prompts:</h5>
                <% @galleries.each do |gallery| %>
                    <%= link_to gallery.prompt, gallery, :style=>'color:#000000; text-decoration:underline; font-size:150%;'%>
                    <br><br>
                <% end %>
            </div>
        </section>
      </main>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
        <script src="app/assets/javascript/channels/bootstrap.min.js"></script>
        <script src="app/assets/javascript/packs/application.js"></script> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     </body>
  </html>