/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.nav-link{
   text-decoration: none;
}

.carousel-item img{
   width: 100%;
   height: 1000px;
   max-height: 1000px;
   margin: auto; 
   display: block;
}

/* font-face and body modified to add custom font */
@font-face {
    font-family: 'Archivo';
    src: url('Montserrat-Regular.ttf');
 }

 body {
    background-color: #ffffff;
    font-family: var(--bs-body-font-family);
 }